services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  web:
    build: ./project
    restart: always
    env_file: .env
    depends_on:
      - db
    ports:
      - "5000:5000"
    volumes:
      - ./project:/app

volumes:
  db_data:
